{% extends "task_02_index.html" %}

{% block content %}
<div class="card" style="width: 18rem;">
    <img src="https://img.freepik.com/free-photo/attractive-active-woman-model-posing-pink-wall-colorful-winter-down-jacket-bright-yellow-color-warm-coat-fashion-trend_285396-7308.jpg?w=740&t=st=1703183253~exp=1703183853~hmac=40bbdd0be53dca5a13a7f21af6b2f0d094bb1c27147ae3cba67a330377fac725" class="card-img-top" alt="куртка">
    <div class="card-body">
      <h5 class="card-title">Куртка</h5>
      <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
    </div>
  </div>
{% endblock %}