{% extends "task_02_index.html" %}

{% block content %}
<div class="card" style="width: 18rem;">
    <img src="https://img.freepik.com/free-photo/alternative-man-tying-boots-shoelaces-floor_53876-101248.jpg?w=740&t=st=1703183363~exp=1703183963~hmac=b604b6d13ba0f46a24a791bbf2bd77d44838e7ee0c97bfa3d8f47b9f6f7dc3bc" class="card-img-top" alt="обувь">
    <div class="card-body">
      <h5 class="card-title">Обувь</h5>
      <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
    </div>
  </div>
{% endblock %}