{% extends "task_02_index.html" %}

{% block content %}
<div class="card" style="width: 18rem;">
    <img src="https://img.freepik.com/free-photo/rack-clothes-store_23-2148929536.jpg?w=740&t=st=1703183047~exp=1703183647~hmac=0ed1e12963e9a062265f37871897a7009f3e0547720470c53991e19d88fd8533" class="card-img-top" alt="одежда">
    <div class="card-body">
      <h5 class="card-title">Одежда</h5>
      <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
    </div>
  </div>
{% endblock %}